* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Prevents padding from breaking layout sizes */
}

body{
  background-color: #0080FE;
}

.super-container{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}


.title-container{
  color: white;
  display: flex;
  justify-content: center;
  flex-grow: 0;
  flex-basis: 150px;
} 

#main-container, #computer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  transition: flex-grow 500ms linear;
  gap: 30px;
}

#computer-container{
  background-color: red;
}

#game-container{
  flex: 1;
  display: flex;
  align-items: stretch;
}

#play-button{
  color: white;
  background-color: #0080FE;
  border: 0px;
  font-size: 60px;
}

.choice-container{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 300px;
  transition: transform 0.1s ease-in-out; 
}

.choice-container div img{
  max-width: 200px;
  width: 100%;
  height: auto;
  max-height: 150px;
  margin-top: 50px;
  
}

.choice-container div{
  height: 250px;
}

.choice-container h3{
  font-weight: bold;
  font-size: 30px;
}

#rock-box, #rock-box1{
  background-color: #FF6B35;
}

#paper-box, #paper-box1{
  background-color: green;
}

#scissor-box, #scissor-box1{
  background-color: #3399FF;
}

.choice-container:hover {
  transform: scale(1.2);
}
